{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block js %}
     <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>About Me</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis culpa aut doloribus cumque veritatis repudiandae, neque nobis. Repudiandae quos, optio et ullam blanditiis quis perferendis alias consectetur a voluptate.</p>
    </div>
{% endblock %}